*{margin: 0px; padding: 0px;}
.button1{
    background: blue;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 150px;
}
.button2{
    background: red;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 150px;
}
.btn_div{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.title{
    text-align: center;
}
.main{
    width: 70%;
    margin: auto;
    border: 1px solid black;
}
.resDiv{
    display: flex;
    justify-content: space-around;
}